.curtain {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #1a172a;
    z-index: -10;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#curtain-logo {
    /* animation: fill .5s ease forwards 3.2s; */
}

#curtain-logo path:nth-child(1) {
    stroke-dasharray: 343.0288391113281px;
    stroke-dashoffset: 343.0288391113281px;
}

#curtain-logo path:nth-child(2) {
    stroke-dasharray: 198.91851806640625px;
    stroke-dashoffset: 198.91851806640625px;
}

#curtain-logo path:nth-child(3) {
    stroke-dasharray: 365.45965576171875px;
    stroke-dashoffset: 365.45965576171875px;
}

#curtain-logo path:nth-child(4) {
    stroke-dasharray: 352.17303466796875px;
    stroke-dashoffset: 352.17303466796875px;
}

#curtain-logo path:nth-child(5) {
    stroke-dasharray: 418.8335876464844px;
    stroke-dashoffset: 418.8335876464844px;
}

@keyframes animated_logo {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

.sb-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    z-index: -10;
}

.slide-bar {
    height: 10vh;
    width: 100%;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: right;
    -webkit-transform-origin: right;
    border: 0px;
    margin: 0;
    padding: 0
}

#sb1 {
    background: linear-gradient(to right, #1a936f, #114b5f);
}

#sb2 {
    background: linear-gradient(to right, #1a936f, #114b5f);

}

#sb3 {
    background: linear-gradient(to right, #1a936f, #114b5f);

}

#sb4 {
    background: linear-gradient(to right, #1a936f, #114b5f);

}

#sb5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, #1a936f, #114b5f);

}

#sb5 img {
    height: 10vh;
}

#sb6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to right, #1a936f, #114b5f);

}

#sb6 img {
    height: 10vh;
}

#sb7 {
    background: linear-gradient(to right, #1a936f, #114b5f);

}


#sb8 {
    background: linear-gradient(to right, #1a936f, #114b5f);

    
}

#sb9 {
    background: linear-gradient(to right, #1a936f, #114b5f);


}

#sb10 {
    background: linear-gradient(to right, #1a936f, #114b5f);


}

/* MOBILE CURTAIN  */

.mobile-gallery-curtain {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000000;
    background-color: #1a172a;
    transform: scaleX(0);
    transform-origin: left;
}

.mobile-gallery-curtain-false {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 500000;
    transform: scale(0);
}

.mobile-gray-pop-up-curtain {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.7);
    transform: scaleX(0);
}