header {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
    /* padding-left: 3%;
    padding-right: 3%; */
    z-index: 10;
}

header > #logo {
    cursor: pointer;
    margin-top: 1vh;
    margin-left: 3vw;
    height: 8vh;
    width: 8vh;
}

header > #tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    color: #1a172a;
    margin-right: 3vw;
}

#tabs > p {
    margin: 0 auto;
    cursor: pointer;
}

.stickyHeader {
    position: fixed;
    top: 0;
    width: 100%;
}

.stickyHeader + .container {
    padding-top: 10vh;
}