header {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
}

header > #logo {
    cursor: pointer;
    margin-top: 1vh;
    height: 8vh;
    width: 8vh;
}

header > #tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
    color: #1a172a;
}

#tabs > p {
    margin: 0 auto;
    cursor: pointer;
}