header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
    /* padding-left: 3%;
    padding-right: 3%; */
    z-index: 10;
}

.index {
    cursor: pointer;
    margin-top: 3vh;
    margin-left: 3vw;
    height: 8vh;
    width: 8vh;
    z-index: 11;
    background-image: url(https://i.imgur.com/5046qxI.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header > #tabs {
    display: flex;
    flex-direction: row;
    margin-top: 6vh;
    width: 55%;
    margin-right: 3vw;
}

#tabs > a {
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid white;
    background-color: transparent;
    outline: none;
    padding: 0 5px 0 5px;
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

::placeholder {
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    opacity: .5;
}

:placeholder-shown {
    color: white;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

#icon-search {
    position: absolute;
    right: 3vw;
    top: 5.5vh;
}