.footer {
    position: absolute;
    width: 100vw;
    height: 45vh;
    bottom: 0;
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
}

.quick-links {
    height: 100%;
    width: 30vw;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribe {
    margin-left: 3vw;
    height: 100%;
    width: 47vw;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ql-header {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 1.75rem;
}

.ql-p {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

#name, #email {
    margin-bottom: 2vh;
    height: 1.5rem;
}

.subscribe h3 {
    margin-bottom: 2vh;
    padding-bottom: 5px;
    border-bottom: solid 1px black;
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

#submit {
    height: 2.75rem;
    width: 60%;
    color: white;
    background-color: #1a172a;
    border: 0;
    font-size: 1.12rem;
    border-radius: 0%;
}

.subscribe input {
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0 5px 0 5px;
}

#copyright {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    margin-bottom: 3vh;
}

@media only screen and (max-device-height: 568px) {
    .ql-header {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.25rem;
        margin-bottom: 1.75rem;
    }
    
    .ql-p {
        font-family: 'Ubuntu', sans-serif;
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-size: .9rem;
    }

    .subscribe h3 {
        margin-bottom: 2vh;
        padding-bottom: 5px;
        border-bottom: solid 1px black;
        font-size: 1rem;
    }

    #submit {
        height: 2.5rem;
        width: 60%;
        color: white;
        background-color: #1a172a;
        border: 0;
        font-size: 1rem;
        border-radius: 0%;
    }

    #copyright {
        font-family: 'Ubuntu', sans-serif;
        font-size: .8rem;
        font-weight: bold;
        position: absolute;
        margin: 0;
        bottom: 0vh;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        margin-bottom: 2vh;
    }
}

@media only screen and (min-device-height: 569px) and (max-device-width: 640px) {
    #copyright {
        font-family: 'Ubuntu', sans-serif;
        font-size: .9rem;
        font-weight: bold;
        position: absolute;
        margin: 0;
        bottom: 0vh;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        margin-bottom: 2vh;
    }

    .ql-p {
        font-family: 'Ubuntu', sans-serif;
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-size: .9rem;
    }
}